<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork21426264-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Hands-on Lab : Web Scraping**

Estimated time needed: **30 to 45** minutes

## Objectives

In this lab you will perform the following:

*   Extract information from a given web site
*   Write the scraped data into a csv file.

## Extract information from the given web site

You will extract the data from the below web site: <br>

In [1]:
#this url contains the data you need to scrape
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/datasets/Programming_Languages.html"

The data you need to scrape is the **name of the programming language** and **average annual salary**.<br> It is a good idea to open the url in your web broswer and study the contents of the web page before you start to scrape.

Import the required libraries

In [14]:
# Your code here
from bs4 import BeautifulSoup as soup
import requests
import pandas as pd

Download the webpage at the url

In [3]:
#your code goes here
page_content = requests.get(url).text

Create a soup object

In [7]:
#your code goes here
soup_obj = soup(page_content,'html5lib')
soup_obj.find_all('tr')

[<tr>
 <td>No.</td>
 <td>Language</td>
 <td>Created By</td>
 <td>Average Annual Salary</td>
 <td>Learning Difficulty</td>
 </tr>,
 <tr>
 <td>1</td>
 <td>Python</td>
 <td>Guido van Rossum</td>
 <td>$114,383</td>
 <td>Easy</td>
 </tr>,
 <tr>
 <td>2</td>
 <td>Java</td>
 <td>James Gosling</td>
 <td>$101,013</td>
 <td>Easy</td>
 </tr>,
 <tr>
 <td>3</td>
 <td>R</td>
 <td>Robert Gentleman, Ross Ihaka</td>
 <td>$92,037</td>
 <td>Hard</td>
 </tr>,
 <tr>
 <td>4</td>
 <td>Javascript</td>
 <td>Netscape</td>
 <td>$110,981</td>
 <td>Easy</td>
 </tr>,
 <tr>
 <td>5</td>
 <td>Swift</td>
 <td>Apple</td>
 <td>$130,801</td>
 <td>Easy</td>
 </tr>,
 <tr>
 <td>6</td>
 <td>C++</td>
 <td>Bjarne Stroustrup</td>
 <td>$113,865</td>
 <td>Hard</td>
 </tr>,
 <tr>
 <td>7</td>
 <td>C#</td>
 <td>Microsoft</td>
 <td>$88,726</td>
 <td>Hard</td>
 </tr>,
 <tr>
 <td>8</td>
 <td>PHP</td>
 <td>Rasmus Lerdorf</td>
 <td>$84,727</td>
 <td>Easy</td>
 </tr>,
 <tr>
 <td>9</td>
 <td>SQL</td>
 <td>Donald D. Chamberlin, Raymond F. Boyce.</td>
 <td>$84,793</td>
 <td>Easy</td>
 </tr>,
 <tr>
 <td>10</td>
 <td>Go</td>
 <td>Robert Griesemer, Ken Thompson, Rob Pike.</td>
 <td>$94,082</td>
 <td>Difficult</td>
 </tr>]

Scrape the `Language name` and `annual average salary`.

In [35]:
#your code goes heretable = soup_obj.find_all('table')
df = pd.read_html(str(table))[0]
df[[1,3]].set_index=None
df[[1,3]]

             1                      3
0     Language  Average Annual Salary
1       Python               $114,383
2         Java               $101,013
3            R                $92,037
4   Javascript               $110,981
5        Swift               $130,801
6          C++               $113,865
7           C#                $88,726
8          PHP                $84,727
9          SQL                $84,793
10          Go                $94,082

Save the scrapped data into a file named *popular-languages.csv*

In [41]:
# your code goes here
df.to_csv('popular-languages.csv',index=False)

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

Copyright Â© 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork21426264-2022-01-01).